@import "fuka"; // インポート

// コメント（コンパイル後残らない）

%text {
    /* コメント（コンパイル後も残る） */
    font-size: $font-size-default * 2; // オペレーター
    text-align: center;
}

// ネスト
.main {
    h1 {
        // 継承
        @extend %text;
        margin-top: 80px;
    }
}

// ミックスイン
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

.title {
    @include transform(rotate(30deg));
}